*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
:root{
    --oxford-azul:#04052E;
    --azul-chrylser:#560BAD;
    --alice-azul:#E6F2FF;
    --cinza:#6C757D;
    --black:#02010A;
    --font-titulo: "Geologica", sans-serif;
    --font-texto:"Inter", sans-serif;
}
body{
    font-family:var(--font-texto);

}
.conteiner{
    max-width:1200px;
    padding:20px 10px;
    margin:0 auto;
}
#topo{

    min-height:300px;
    background-color: #04052E;
}
.grid-topo{
    display:grid;
    grid-template-columns:1fr 1fr 2fr;
}
#menu-topo{
    grid-column:2/4;
}

#menu-topo > ul{
    display: flex;
    list-style:none;
    justify-content:space-around;
    align-items: center;
    height:85%;
}
#menu-topo a{
    font-size:1,5rem;
    font-family:var(--font-titulo);
    color:var(--alice-azul);
    text-decoration:none;
}
#menu-topo a:hover{
        color:orangered;
        text-decoration:underline;
}
#info{
    min-height:370px;
    padding:20px 10px;
}
#info .icones{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin:20px;
}
.icones h3{
    text-align: center;
}
.hero{
    position: relative;
    text-align: center;
    display:inline-block;
} 


.fundo{
  width:1350px;
  height:600px;

}
.logo{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:150px;
  object-fit: cover;
  width:200px;
  height: 200px;
}


.hero-text{
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size:22px;
    font-weight:bold;
    text-shadow:2px 2px black;
    
}
/* Seção Planos */
.planos {
  background-color: #0099ff; /* azul do fundo */
  color: white;
  text-align: center;
  padding: 60px 40px;
}

.planos h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 40px;
}

.conteudo-planos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

/* Lado esquerdo */
.texto-esquerda {
  width: 25%;
  text-align: left;
  font-size: 15px;
  line-height: 1.7;
  font-size:20px;
}

.texto-esquerda img {
  width: 200px;
  margin-top: 20px;
}

/* Centro (planos) */
.tabela-planos {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 20px 0;
}

.tabela-planos div {
  margin: 20px 0;
}

.tabela-planos span {
  font-size: 60px;
  font-weight: bold;
  display: block;
}

.tabela-planos p {
  font-size: 18px;
  line-height: 1.3;
}

/* Lado direito */
.texto-direita {
  width: 25%;
  text-align: left;
  font-size: 15px;
  line-height:1.8;
}
.texto-direita strong{
  font-size:20px;
}


.texto-direita ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  font-size:20px;
}

.texto-direita li {
  margin: 8px 0;
}
.rodape {
  background-image:url(imagens/ultimofundo.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  position: relative;
}

.texto {
  width: 55%;
  font-size: 22px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px #000;
}

.contato {
  background-color: rgba(200, 200, 200, 0.8);
  color: black;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
  width: 250px;
}
.area-interna{
  min-height:600px;
  padding:10px 20px;
}
.area-interna h3{
  font-family:var(--font-titulo);
  font-size:2.5rem;
  font-weight:900;
  color:var(--azul-chrylser);
  margin:20px 0;
}
.area-interna p{
  font-size:1.15rem;
  color:var(--black);
  line-height:150%;
  text-indent:24px;
}
.area-interna .imagem-direita{
  width:300px;
  float: left;
  height:200px;
  border-radius:10px;
  border:5px solid var(--cinza);
}